<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<head>
<title>Class List</title>
<meta charset="utf-8" />
<script src="/cdn/scripts/class/index.js"></script><!-- Our JavaScript
code for this page-->
</head>
<body>
<h1>Students in the School of EIE:</h1>
<ol id="classList">
<!-- The list students in the school-->
</ol>
<a href = "/todo/create"><button type="button" id="addStudentButton">Add new student</button>
</body></a>
<br/>
<br/>
<a href = "/todo/delete"><button type="button" class="btn-primary" id="deleteStudentButton">Delete student</button>
</body></a>
<br/>
<br/>
<a href = "/todo/edit"><button type="button" id="editStudentButton">Edit student info</button>
</body></a>

</html>
